<h1>Say#hello</h1>
<p>Hello World</p>
Now, It's time: <%= @time%>
<br>
<%=link_to 'GoodBye', say_goodbye_path%>
<%= 1.hour.from_now %>
<% for file in @files %>
	file name is: <%= file %><br>
<% end %>
